<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/syle.css">

</head>
<body>

<header class="header">
    <!-- <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <form action="/weather" method="POST">
        <input type="text" placeholder=" City name" name="cityName" id="cityName">
        </form>
    </div> -->
    <h1 class="title">Noah <span>Weather</span></h1>
    <p class="cityCountry"><%= city %>, <%= country %> </p>
</header>

<section class="container">
    <div class="noCard">
        <h3 class="weatherCondition"><%= weatherMain.toUpperCase() %> </h3>
        <% if (temp <=15){  %>
        <h2 class="infoBigBlue"><%= temp %>°C</h2>
        <p class="bodyTextBlue">Today is pretty cold!</p>
        <% } else if (temp >=28) { %>
        <h2 class="infoBigRed"><%= temp %>°C</h2>
        <p class="bodyTextRed">Today is pretty hot!</p>
        <% } else if (temp > 15 && temp < 28 ) { %>
        <h2 class="infoBigBlack"><%= temp %>°C</h2>
        <p class="bodyText">It's a nice weather!</p>
        <% } %>
    </div>
    <div class="innerContainer">
        <div class="card">
            <h3 class="smallTitle">Feels like</h3>
            <h2 class="info"><%= feelsLike %>°C </h2>
        </div>
        <div class="card">
            <h3 class="smallTitle">Humidity</h3>
            <h2 class="info"><%= humidity %>% </h2>
        </div>
    </div>
    <div class="cardBig">
        <h3 class="smallTitle">Wind Speed/Direction</h3>
        <h2 class="info"><%= windSpeed %>kt <%= windDeg %>° </h2>
    </div>
</section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/index.js"></script>
    <script src="../public/js/script.js"></script>

</body>
</html>